{% extends 'base.html' %}

{% block title %}{% if edit_mode %}Modifier l'événement{% else %}Ajouter un Événement{% endif %} - TicketManager{% endblock %}

{% block content %}
    <h1>{% if edit_mode %}Modifier l'événement{% else %}Ajouter un nouvel événement{% endif %}</h1>
    <p>{% if edit_mode %}Mettez à jour les informations de l'événement.{% else %}Remplissez le formulaire ci-dessous pour créer un nouveau concert.{% endif %}</p>

    <div class="card" style="margin-top: 20px;">
        <form method="post">
            {% csrf_token %}
            {% include '_form_fields.html' %}
            <div style="margin-top: 20px;">
                <button type="submit" class="btn">{% if edit_mode %}Mettre à jour l'événement{% else %}Enregistrer l'événement{% endif %}</button>
                <a href="{% url 'frontend-event-list' %}" style="margin-left: 15px; font-size: 0.9em; color: #666;">Annuler</a>
            </div>
        </form>
    </div>
{% endblock %}
